# Introducción a Pandas
03.02.19

In [1]:
import pandas as pd
import numpy as np

## Series

In [2]:
s1=pd.Series([15, 18, 29, 33])
print(s1)

0    15
1    18
2    29
3    33
dtype: int64

In [3]:
s1=pd.Series(range(10,21))
print(s1)

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

In [6]:
s1=pd.Series(np.random.randint(1, 10, 5))
print(s1)

0    7
1    2
2    1
3    2
4    1
dtype: int32

`pd.Series` genera una Serie a partir de una lista iterable

Al definir la serie, los índices son calculados automáticamente partiendo de cero. Si quisiéramos utilizar nuestros propios índices para fines de agrupamiento, podemos hacerlo a través del parámetro opcional `index`

In [11]:
s1=pd.Series([12,15,16,18], index=["A", "B", "C", "D"])
print(s1)

A    12
B    15
C    16
D    18
dtype: int64

In [12]:
s2=pd.Series([30,29,24,70], index=["A", "B", "C", "D"])
print(s1+s2)

A    42
B    44
C    40
D    88
dtype: int64

Podemos también crear una serie a partir de un diccionario, dónde las claves del diccionario se volverían los índices de la serie

In [13]:
d1={"a":10, "b":20, "c":40}
s1=pd.Series(d1)
print(s1)

a    10
b    20
c    40
dtype: int64

In [14]:
d2={"a":5,"b":7, "c":9}
s2=pd.Series(d2)
print(s1+s2)

a    15
b    27
c    49
dtype: int64

En el siguiente ejemplo vamos a construir una serie con los 365 días de un año.

In [15]:
s1=pd.date_range("20190101", periods=365)
print(s1)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [19]:
s1=pd.date_range(start="20190101",end="20190120", freq="b") #solo los días laborales entre el 01.01.19 y el 01.20.19
print(s1)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18'],
              dtype='datetime64[ns]', freq='B')

## DataFrame

In [22]:
d={
    "nombre": ["Ana", "Paco", "Diana", "Luis"],
    "edad": [17,18,23,21],
    "género": ["M", "H", "M", "H"]
}
df=pd.DataFrame(d)
print(df)

  nombre  edad género
0    Ana    17      M
1   Paco    18      H
2  Diana    23      M
3   Luis    21      H

In [23]:
df2=pd.DataFrame(df,index=[2,3])
print(df2)

  nombre  edad género
2  Diana    23      M
3   Luis    21      H

In [24]:
print(df[2:])

  nombre  edad género
2  Diana    23      M
3   Luis    21      H

In [29]:
dfT=df.T
print(dfT.index)

Index(['nombre', 'edad', 'género'], dtype='object')