# Proyecto 1. Heatmap
Citlali Melchor Ram√≠rez
04.06.19

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [8]:

#edades=[23,64,19,38, 24, 55, 72, 93,8]
edades=[random.randint(0,100) for i in range(20)]
generos= [random.choice(["h","m"])for i in range(20)]
#generos=["h","m","m","h","m","h","h","m","m"]
df=pd.DataFrame({"edad": edades, "genero":generos})
df.head()

   edad genero
0    93      m
1    43      m
2    37      m
3    27      m
4     9      m

In [9]:
min_edad=0
max_edad=100
df["edad_cat"]=(4*(df["edad"]-min_edad)/max_edad)

In [ ]:
c1=list(set(df["edad_cat1"]))
mat=np.zeros((len(c2),len(c1)))

In [ ]:
for in in range (len(c2)):
    for j in range (len(c1)):
        a=ci[j]
        b=c2[i]
        n=len(df.query["edad_cat=={} and genero_cat=={}".format(a,b)))]
        mat[i][j]

In [ ]:
import seaborn as sns
sns.boxplot(x=df["genero_cat"] y=df["edad"], pelette="Blues")